<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Oldschool EJS thingy</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About<em> (variant: <%= typeof variant != 'undefined' ? variant : 'default' %>)</em></a>
      </li>
    </ul>
  </nav>